<div class='col-md-4'>
	<h3>Select a date range</h3>
	<input date-range-picker options='{showDropdowns: true}' class="form-control date-picker" type="text" ng-model="dateRange" min="'2007-01-01'" max="'2014-11-05'">
	<div class='btn btn-success' ng-click='getCrimes()'>Search</div>
</div>
<div class='col-md-8'>
	<h4>Start: {{ formatDate(dateRange.startDate) }}</h4>
	<h4>End: {{ formatDate(dateRange.endDate) }}</h4>
	
	<div id="myChart"></div>

	<div class='row'>
		<h4>Number of crimes: {{ crimes.length }}</h4>

		<pre>{{ crimes | json }}</pre>
	</div>
</div>

